@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0 auto;
    background-image: url(imagens/topo.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    padding: 1px;
}

.header{
    display: flex;
    color: white;
    padding: 10px;
    background-color:  #162028;
    justify-content: space-between;
    align-items: center;
    
}
.header__logo{
    font-size: 36px;
    text-transform: capitalize;
    margin-left: 90px;
    letter-spacing: 2px;
}

.header__nav ul{
    display: flex;
    color: #425564;
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
    gap: 3em;

}

.header__nav a{
    text-decoration: none;
    color: #425564;
    text-transform: uppercase;
}

.container{
    padding-top: 550px;

}

.title-1{
    display: flex;
    font-family: "Viaoda Libre", serif;
    color: #555;
    font-size: 46px;
   justify-content: center;
    

}
.content__title1{
    font-family: "Roboto", serif;
    color: #555;
    justify-content: center;
    margin: 40px 200px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;

}
.list-item{
    display: flex;
    justify-content: center;
}

.list-item-image{
    padding: 30px;
    
}


.title-image{
    color:#555;
    font-family: "Viaoda Libre", serif;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
    

.content1{
    color: #555;
    font-family: "Roboto", serif;
    text-align: center;
}

.pre-footer{ 
    display: flex;
    flex-direction: column;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100%;
    padding: 30px 30px;
    background-color:#003d52 ;
    height: 700px;
    
}

.title-2{
    font-size: 60px;
    font-family: "Viaoda Libre", serif;
    color: white;
    padding: 80px;
    /* margin: 150px 100; */

  
    

}

.content-2{
    font-family: "Roboto", serif;
    color: white;
    letter-spacing: 2px;
    line-height: 30px;
   margin: 0px 80px;
   max-width: 50%;
    
}
.footer{
    background-color: #162028;
    padding: 10px;
    
}
.content-footer{
    color: white;
    text-align: center;
 
}